<!-- [ navigation menu ] start -->
<nav class="pc-sidebar">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="#" class="b-brand">
                <!-- ========  change your logo here ============ -->
                <img src="/static/assets/images/logo.png" alt="" class="logo logo-lg" width="50px">
                <b>Leave Request v1.0</b>
                <img src="/static/assets/images/logo.png" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="pc-navbar">
                <li class="pc-item pc-caption">
                    <label>Navigation</label>
                </li>
                <li class="pc-item">
                    <a href="/" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
                </li>
                <!-- Add new links here -->
                <li class="pc-item">
                    <a href="{% url 'lateness_records' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">access_time</i></span><span class="pc-mtext">Lateness Records</span></a>
                </li>
                <li class="pc-item">
                    <a href="{% url 'login_logout_times' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">history</i></span><span class="pc-mtext">Login/Logout Times</span></a>
                </li>
                <li class="pc-item">
                    <a href="{% url 'leave_applications' %}" class="pc-link"><span class="pc-micon"><i class="material-icons-two-tone">event</i></span><span class="pc-mtext">Leave Applications</span></a>
                </li>
                <li class="pc-item">
                    <a href="{% url 'monthly_working_hours' %}" class="pc-link">
                        <span class="pc-micon"><i class="material-icons-two-tone">schedule</i></span>
                        <span class="pc-mtext">Monthly Working Hours</span>
                    </a>
                </li>
                <li class="pc-item">
                    <a href="{% url 'update_employee_leaves' %}" class="pc-link">
                        <span class="pc-micon"><i class="material-icons-two-tone">add</i></span>
                        <span class="pc-mtext">Assign Extra Leaves</span>
                    </a>
                </li>
                <!-- End of new links -->
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
