{% extends "layouts/base-fullscreen.html" %}

{% block title %} Admin Sign IN {% endblock %}

{% block content %}
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <img src="/static/assets/images/workpulse.png" alt="" class="img-fluid mb-4" width="150" height="150">
                        <h4 class="mb-3 f-w-400">Admin Sign IN</h4>
                        <p>
                            {% if msg %}
                                {{ msg | safe }}
                            {% else %}
                                Admin credentials required
                            {% endif %}
                        </p>

                        <form role="form" method="post" action="{% url 'admin_login' %}">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <span class="input-group-text"><i data-feather="user"></i></span>
                                {{ form.username }}
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-text"><i data-feather="lock"></i></span>
                                {{ form.password }}
                            </div>
                            <button type="submit" name="login" class="btn btn-block btn-primary mb-4">Sign IN</button>
                        </form>

                        <p class="mb-0 text-muted">Back to <a href="{% url 'login' %}" class="f-w-400">User Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
